.foot-outer {
  display: grid;
}

.foot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
}

a {
  margin: 2vw;
}

.icon-bar img {
  max-width: 50px;
  cursor: pointer;
}

.footer-icon {
  height: auto;
  width: 6vw;
}

